@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

//colores
$white: #fff;
$planinum: #E6E7E7;
$light-gray: #D1D1D1;
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;

//typography
$roboto: 'Roboto', sans-serif;
$roboto-light: 300;
$roboto-regular: 400;
$playfair: 'Playfair Display', serif;
$playfair-regular: 400;
$playfair-black: 900; 
$lobster: 'Lobster', cursive;

$primary-font:$roboto;
$primary-font-light:$roboto-light;
$primary-font-regular:$roboto-regular;
$secondary-font:$playfair;
$secondary-font-regular:$playfair-regular;
$secondary-font-black:$playfair-black;

//font sizes
$font-xx-large: 70px;
$font-x-large: 30px;
$font-large: 18px;
$font-medium: 16px;
$font-small: 12px;

//colores de links
$links-primary-scheme:$ruddy-pink;
$links-secondary-scheme:$raisin-black;
$links-light-scheme:$light-gray;
$links-dark-scheme:$eerie-black;
$links-normal-state:$ruddy-pink;
$links-hover-state:$raisin-black;
$links-active-state:$planinum;

//fondo
$bg-black:#000;
